@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    h1 {
        @apply mb-4 text-3xl md:text-6xl font-bold;
    }

    h2 {
        @apply mb-3 text-2xl md:text-5xl font-bold;
    }

    h3 {
        @apply text-xl md:text-3xl font-bold tracking-tight;
    }

    h4 {
        @apply text-sm md:text-xl font-bold tracking-tight;
    }

    h5 {
        @apply md:text-xl;
    }

    p {
        @apply text-sm md:text-lg my-5 font-normal;
    }

    span {
        @apply text-sm md:text-lg;
    }

    .btn {
        @apply h-16 py-5 px-5 text-white text-sm md:text-2xl rounded-lg;
    } 

    .filter-btn {
        @apply py-3 px-5 text-stone-500 font-semibold text-sm bg-orange-100;
    }

    .form-btn {
        @apply w-full py-3 mt-5 rounded-lg text-white font-semibold bg-orange-500 transition hover:opacity-80;
    }
    
}